a, a:hover {
    color: inherit;
    text-decoration: none !important;
}
/************* Login, SingUp ************/
.login-form , .signup-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
  }
  /**************************************/

.appTitle {
    text-decoration: none;
}
.componentTitle {
    margin-top: 70px;
}
.container-list {
    margin-top: 20px;
    /*border: 1px solid  orangered;*/
}
.checkedItems {
    text-decoration: line-through;
}
/*** Modal Name List ***/
.modalNameList {
    margin-top: 15% !important;
}
/** icons styles **/
.trashCan {
    float: right !important;
}